<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.httpgnsbook.gnsbook"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission android:name="com.httpgnsbook.gnsbook.provider.READ" />

    <uses-permission android:name="com.httpgnsbook.gnsbook.provider.READ" />

    <application
        android:name="com.digital.gnsbook.Config.AppController"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name="com.digital.gnsbook.Activity.Cart"></activity>
        <activity android:name="com.digital.gnsbook.Activity.ProductDetail" />
        <activity android:name="com.digital.gnsbook.Activity.UploadProduct" />
        <activity android:name="com.digital.gnsbook.Activity.FriendProfile" />
        <activity android:name="com.digital.gnsbook.Activity.SearchActivity" />
        <activity android:name="com.digital.gnsbook.Activity.Subsription_plan" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.digital.gnsbook.Activity.New_Post" />
        <activity
            android:name="com.digital.gnsbook.Activity.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.digital.gnsbook.Activity.MainActivity"
            android:label="GNSBOOK"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Activity.Compony_list"
            android:label="Company list"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Activity.TopPerformer"
            android:label="Top Performer"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Activity.SpillTree"
            android:label="Spill Tree"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Activity.ProfilePage"
            android:label="  "
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="instamojo.orderauth.url"
            android:value="http://api2.atscart.com/access_token.php" />

        <activity
            android:name="com.digital.gnsbook.Payment.Agent_Signup"
            android:label="Agent_Signup"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Payment.BenificiaryList"
            android:label="Beneficiary List"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Payment.AddBeneficiary"
            android:label="Add Beneficiary"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Payment.FundTransfer"
            android:label="Fund Transfer"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Payment.LoadMoney"
            android:label="Load Money"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Activity.TabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.digital.gnsbook.Activity.OTPview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Activity.UpdateProfile"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Payment.ManualTransaction"
            android:windowSoftInputMode="stateHidden" />

        <provider
            android:name="com.digital.gnsbook.Config.LocalStorageProvider"
            android:authorities="{applicationId}.documents"
            android:enabled="@bool/use_provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <activity android:name="com.digital.gnsbook.Activity.Account" />
        <activity
            android:name="com.digital.gnsbook.Activity.Pool_Rewards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.digital.gnsbook.Activity.Companypage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.digital.gnsbook.Payment.Manual_Payment"
            android:label="ManualTransfer"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.digital.gnsbook.Payment_corpoarate.Corporate_Agent_Signup"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digital.gnsbook.Activity.Comment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digital.gnsbook.Payment_corpoarate.Corporate_BenificiaryList"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digital.gnsbook.Payment_corpoarate.Corporate_AddBeneficiary"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digital.gnsbook.Payment_corpoarate.Corporate_FundTransfer"
            android:parentActivityName="com.digital.gnsbook.Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digital.gnsbook.Activity.Forgotpass"
            android:label="FORGOT PASSWORD"
            android:parentActivityName="com.digital.gnsbook.Activity.LoginActivity" />
    </application>

</manifest>